header{
    background: #686de0;
    color: #fff;
}

.main{
    background: #7ed6df;
}

.color1{
    background: #30336b;
    color: #fff;
}

aside{
    background: #badc58;
    color: #fff;
}

footer{
    background: #535c68;
    color: #fff;
}